body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: blueviolet;
}

.container {
    display: flex;
    width: 800px;
    height: 800px;
    border: 5px solid black;
    background-color: aliceblue;
}

.square {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}