body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-wrap: wrap; /*This flex-wrap: wrap allows the squares to jump onto the next line when there is no space left in the current line*/
    width: 800px;
    height: 800px;
    border: 5px solid black;
    background-color: aliceblue;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
}