body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    border: 5px solid black;
    background-color: aliceblue;
}

.square {
    flex-basis: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
}